<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div *ngIf="true" class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Transfers</span>
                    <div class="text-900 font-medium text-xl">{{transfers.length}}</div>
                </div>
                <div [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
                     class="flex align-items-center justify-content-center bg-blue-100 border-round">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">100% </span>
            <span class="text-500">success</span>
        </div>
        <ng-template [ngIf]="false">
            <div class="card mb-0">
                <span class="block font-medium mb-3">Transfers</span>
                <div class="surface-border">
                    <p-skeleton height="3.5rem" width="100%"></p-skeleton>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div *ngIf="true" class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Branches</span>
                    <div class="text-900 font-medium text-xl">{{branches.length}}</div>
                </div>
                <div [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
                     class="flex align-items-center justify-content-center bg-orange-100 border-round">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>

        <ng-template [ngIf]="false">
            <div class="card mb-0">
                <span class="block font-medium mb-3">Branches</span>
                <div class="surface-border">
                    <p-skeleton height="3.5rem" width="100%"></p-skeleton>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div *ngIf="true" class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Accounts</span>
                    <div class="text-900 font-medium text-xl">{{accounts.length}}</div>
                </div>
                <div [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
                     class="flex align-items-center justify-content-center bg-cyan-100 border-round">
                    <i class="pi pi-user text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">20  </span>
            <span class="text-500">newly registered</span>
        </div>
        <ng-template [ngIf]="false">
            <div class="card mb-0">
                <span class="block font-medium mb-3">Accounts</span>
                <div class="surface-border">
                    <p-skeleton height="3.5rem" width="100%"></p-skeleton>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div *ngIf="true" class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Employee</span>
                    <div class="text-900 font-medium text-xl">{{employees.length}}</div>
                </div>
                <div [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
                     class="flex align-items-center justify-content-center bg-purple-100 border-round">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">3 </span>
            <span class="text-500">will hire</span>
        </div>
        <ng-template [ngIf]="false">
            <div class="card mb-0">
                <span class="block font-medium mb-3">Employees</span>
                <div class="surface-border">
                    <p-skeleton height="3.5rem" width="100%"></p-skeleton>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Recent Transfer</h5>
            <p-table *ngIf="true" [paginator]="true" [rows]="5" [value]="transfers"
                     responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="sender">Sender
                        </th>
                        <th pSortableColumn="reciever">Reciever
                        </th>
                        <th pSortableColumn="amount">Amount
                        </th>
                        <th pSortableColumn="status">Status
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-transfer pTemplate="body">
                    <tr>
                        <td></td>
<!--                        <td style="width: 35%; min-width: 7rem;">{{transfer.transaction.account.customer.name == null ? 'test' : transfer.transaction.account.customer.name}}</td>-->
                        <td style="width: 35%; min-width: 7rem;">{{transfer.reciever.customer.name}}</td>
                        <td style="width: 35%; min-width: 8rem;">{{transfer.transaction.amount | currency:'EGP'}}</td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [class]="'product-badge status-' + (transfer.status === 'approve' ? 'instock' : transfer.status === 'pending' ? 'lowstock':'outofstock')"
                            >{{transfer.status}}</span>
                        </td>

                    </tr>
                </ng-template>
            </p-table>

            <ng-template [ngIf]="false">
                <p-skeleton height="20rem" width="100%"></p-skeleton>
            </ng-template>
        </div>

        <div class="card">

            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Account Types</h5>
                <div>
                    <button (click)="menu.toggle($event)" class="p-button-rounded p-button-text p-button-plain"
                            icon="pi pi-ellipsis-v"
                            pButton
                            type="button"></button>
                    <p-menu #menu [model]="items" [popup]="true"></p-menu>
                </div>
            </div>
            <ul *ngIf="true" class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Saving</span>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div [ngStyle]="{height: '8px'}"
                             class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem">
                            <div [ngStyle]="{'width.%': savingPercent}" class="bg-orange-500 h-full"></div>
                        </div>
                        <span class="text-orange-500 ml-3 font-medium">%{{savingPercent}}</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Current</span>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div [ngStyle]="{height: '8px'}"
                             class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem">
                            <div [ngStyle]="{'width.%': currentPercent}" class="bg-cyan-500 h-full"></div>
                        </div>
                        <span class="text-cyan-500 ml-3 font-medium">%{{currentPercent}}</span>
                    </div>
                </li>
            </ul>
            <ng-template [ngIf]="false">
                <p-skeleton height="20rem" width="100%"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Transfer Overview</h5>
            <p-chart *ngIf="true" [data]="chartData" [options]="chartOptions" type="line"></p-chart>

            <ng-template [ngIf]="false">
                <p-skeleton height="20rem" width="100%"></p-skeleton>
            </ng-template>
        </div>

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
                <div>
                    <button (click)="menu.toggle($event)" class="p-button-rounded p-button-text p-button-plain"
                            icon="pi pi-ellipsis-v"
                            pButton
                            type="button"></button>
                    <p-menu #menu [model]="items" [popup]="true"></p-menu>
                </div>
            </div>

            <div *ngIf="true">
                <div *ngFor="let transfer of transfers.slice().reverse()">
                <span
                    class="block text-600 font-medium mb-3">{{transfer.transaction?.createdDate | date}}</span>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <div
                                class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                                <i class="pi pi-dollar text-xl text-blue-500"></i>
                            </div>
                            <span class="text-900 line-height-3">{{transfer.transaction?.account?.customer?.name}} has sent
                        <span class="text-blue-500">{{transfer.transaction?.amount}} EGP<span
                            class="text-900"> to {{transfer.reciever?.customer?.name}}</span></span>
                </span>
                        </li>
                    </ul>
                </div>
            </div>

            <ng-template [ngIf]="false">
                <p-skeleton height="8rem" width="100%"></p-skeleton>
            </ng-template>

        </div>

    </div>
</div>

