<div class="grid">
    <div *ngIf="false" class="col-12">
        <div class="card px-6 py-6">
            <p-skeleton height="10vh" styleClass="mb-2"></p-skeleton>
            <h5 class="mx-10">Manage Transfers</h5>
            <p-skeleton height="50vh" styleClass="mb-2"></p-skeleton>
        </div>
    </div>
    <div *ngIf="true" class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="openNew()"
                            class="p-button-success mr-2"
                            icon="pi pi-plus"
                            label="New"
                            pButton
                            pRipple>
                        </button>
                        <!--                        <button-->
                        <!--                            (click)="deleteSelectedTransfers()"-->
                        <!--                            [disabled]="!selectedTransfers || !selectedTransfers.length"-->
                        <!--                            class="p-button-danger mr-2"-->
                        <!--                            icon="pi pi-trash"-->
                        <!--                            label="Delete"-->
                        <!--                            pButton-->
                        <!--                            pRipple>-->
                        <!--                        </button>-->
                        <button
                            (click)="dt.exportCSV()" class="p-button-help" icon="pi pi-upload" label="Export"
                            pButton
                            pRipple>
                        </button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [(selection)]="selectedTransfers"
                [columns]="cols"
                [globalFilterFields]="['id','transaction.method','transaction.operation','transaction.account.id','branch.address']"
                [paginator]="true"
                [rowHover]="true"
                [rowsPerPageOptions]="[10,20,30]"
                [rows]="10"
                [rows]="10"
                [showCurrentPageReport]="true"
                [value]="transfers"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
                responsiveLayout="scroll" selectionMode="multiple">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Transfers</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="onGlobalFilter(dt, $event)" class="w-full sm:w-auto" pInputText
                                   placeholder="Search..."
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id
                            <p-sortIcon field="transferId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="method">Method
                            <p-sortIcon field="method"></p-sortIcon>
                        </th>
                        <th pSortableColumn="operation">Operation
                            <p-sortIcon field="operation"></p-sortIcon>
                        </th>
                        <th pSortableColumn="amount">Amount
                            <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sender">Sender Id
                            <p-sortIcon field="sender"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sender">Sender Name
                            <p-sortIcon field="sender"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sender">Reciever Id
                            <p-sortIcon field="sender"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sender">Reciever Name
                            <p-sortIcon field="sender"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <!--                        <th pSortableColumn="branch.address">Branch-->
                        <!--                            <p-sortIcon field="branch"></p-sortIcon>-->
                        <!--                        </th>-->
                        <!--                        <th>Actions</th>-->
                    </tr>
                </ng-template>
                <ng-template let-transfer pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="transfer"></p-tableCheckbox>
                        </td>

                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{transfer.transferId}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Method</span>
                            {{transfer.transaction?.method | uppercase}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Operation</span>
                            {{transfer.transaction?.operation | uppercase}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Amount</span>
                            {{transfer.transaction?.amount}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Sender ID</span>
                            {{transfer.transaction?.account?.accountId}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Sender Name</span>
                            {{transfer.transaction?.account?.customer.name}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Reciever ID</span>
                            {{transfer.reciever?.accountId}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Reciever Name</span>
                            {{transfer.reciever?.customer.name}}
                        </td>

                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [class]="'product-badge status-' + (transfer.status === 'approve' ? 'instock' : transfer.status === 'pending' ? 'lowstock':'outofstock')"
                            >{{transfer.status}}</span>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="transferDialog"
                  [modal]="true"
                  [style]="{width: '450px'}"
                  class="p-fluid"
                  header="Product Details">
            <ng-template pTemplate="content">

                <div class="field">
                    <label>Method</label>
                    <p-dropdown
                        [(ngModel)]="transfer.transaction!.method"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.transaction!.method}"
                        [options]="methods"
                        inputId="method"
                        optionDisabled="inactive"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !transfer.transaction!.method" class="ng-dirty ng-invalid">Method is
                        required.</small>
                </div>

                <div class="field">
                    <label>Operation</label>
                    <p-dropdown
                        [(ngModel)]="transfer.transaction!.operation"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.transaction!.operation}"
                        [options]="operations"
                        inputId="operation"
                        optionDisabled="inactive"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !transfer.transaction!.operation" class="ng-dirty ng-invalid">Operation
                        is
                        required.</small>
                </div>

                <div class="field">
                    <label for="amount">Amount</label>
                    <p-inputNumber
                        [(ngModel)]="transfer.transaction!.amount"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.transaction!.amount}"
                        currency="EGP"
                        id="amount"
                        locale="en-US"
                        mode="currency">
                    </p-inputNumber>
                    <small *ngIf="submitted && !transfer.transaction!.amount" class="ng-dirty ng-invalid">Amount is
                        required.</small>
                </div>

                <!--                <div class="field">-->
                <!--                    <label for="date">Date</label>-->
                <!--                    <p-calendar-->
                <!--                        [(ngModel)]="transfer.transaction!.date"-->
                <!--                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.transaction!.date}"-->
                <!--                        [showSeconds]="true"-->
                <!--                        [showTime]="true" disabled id="date"></p-calendar>-->
                <!--                    <small *ngIf="submitted && !transfer.transaction!.date" class="ng-dirty ng-invalid">Date is-->
                <!--                        required.</small>-->
                <!--                </div>-->

                <div class="field">
                    <label>{{transfer.transaction?.operation == 'transfer' ? 'Sender' : 'Account'}}</label>
                    <p-dropdown
                        [(ngModel)]="transfer.transaction!.account"
                        [filter]="true"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.transaction!.account!.accountId}"
                        [options]="accounts"
                        inputId="operation"
                        optionDisabled="isDeleted"
                        optionLabel="accountId"
                        optionValue="accountId"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !transfer.transaction!.account!.accountId"
                           class="ng-dirty ng-invalid">{{transfer.transaction?.operation == 'transfer' ? 'Sender is required.' : 'Account is required.'}}</small>
                </div>

                <div *ngIf="transfer.transaction!.operation == 'transfer'" class="field">
                    <label>Reciever</label>
                    <p-dropdown
                        [(ngModel)]="transfer.reciever"
                        [filter]="true"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.reciever?.accountId}"
                        [options]="accounts"
                        inputId="operation"
                        optionDisabled="isDeleted"
                        optionLabel="accountId"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !transfer.reciever?.accountId" class="ng-dirty ng-invalid">Reciever is
                        required.</small>
                </div>

                <div class="field">
                    <label for="status">Status</label>
                    <p-dropdown
                        [(ngModel)]="transfer.status"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfer.status}"
                        [options]="statuses"
                        id="status"
                        optionDisabled="inactive"
                        optionValue="label"
                        placeholder="Select">
                        <ng-template
                            pTemplate="selectedItem">
                            <span
                                *ngIf="transfer && transfer.status"
                                [class]="'product-badge status-' + (transfer.status === 'approve' ? 'instock' : transfer.status === 'pending' ? 'lowstock':'outofstock')">
                                {{transfer.status | uppercase}}</span>
                        </ng-template>
                        <ng-template
                            let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label | uppercase}}</span>
                        </ng-template>
                        <small *ngIf="submitted && !transfer.status" class="ng-dirty ng-invalid">Status is
                            required.</small>
                    </p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                        pRipple></button>
                <button (click)="saveTransfer()" class="p-button-text" icon="pi pi-check" label="Save" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTransferDialog" [modal]="true" [style]="{width:'450px'}" header="Confirm">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="transfer">Are you sure you want to delete <b>{{transfer.transferId}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="deleteTransferDialog = false" class="p-button-text" icon="pi pi-times" label="No"
                        pButton
                        pRipple></button>
                <button (click)="confirmDelete()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTransfersDialog" [modal]="true" [style]="{width:'450px'}" header="Confirm">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected transfers?</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="deleteTransfersDialog = false" class="p-button-text" icon="pi pi-times" label="No"
                        pButton
                        pRipple></button>
                <button (click)="confirmDeleteSelected()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
