<div class="grid">
    <div *ngIf="false" class="col-12">
        <div class="card px-6 py-6">
            <p-skeleton height="10vh" styleClass="mb-2"></p-skeleton>
            <h5 class="mx-10">Manage Accounts</h5>
            <p-skeleton height="50vh" styleClass="mb-2"></p-skeleton>
        </div>
    </div>

    <div *ngIf="true" class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="openNew()"
                            class="p-button-success mr-2"
                            icon="pi pi-plus"
                            label="New"
                            pButton
                            pRipple>
                        </button>
                        <button
                            (click)="deleteSelectedAccounts()"
                            [disabled]="!selectedAccounts || !selectedAccounts.length"
                            class="p-button-danger mr-2"
                            icon="pi pi-trash"
                            label="Delete"
                            pButton
                            pRipple>
                        </button>
                        <button
                            (click)="dt.exportCSV()" class="p-button-help" icon="pi pi-upload" label="Export"
                            pButton
                            pRipple>
                        </button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [(selection)]="selectedAccounts"
                [columns]="cols"
                [globalFilterFields]="['name','email','bank.name','branch.address']"
                [paginator]="true"
                [rowHover]="true"
                [rowsPerPageOptions]="[10,20,30]"
                [rows]="10"
                [rows]="10"
                [showCurrentPageReport]="true"
                [value]="accounts"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
                responsiveLayout="scroll" selectionMode="multiple">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Accounts</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="onGlobalFilter(dt, $event)" class="w-full sm:w-auto" pInputText
                                   placeholder="Search..."
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id
                            <p-sortIcon field="accountId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="type">Type
                            <p-sortIcon field="type"></p-sortIcon>
                        </th>
                        <th pSortableColumn="balance">Balance
                            <p-sortIcon field="balance"></p-sortIcon>
                        </th>
                        <th pSortableColumn="customer.name">Customer
                            <p-sortIcon field="customer"></p-sortIcon>
                        </th>
                        <th pSortableColumn="branch.address">Branch
                            <p-sortIcon field="branch"></p-sortIcon>
                        </th>
                        <th pSortableColumn="employee.name">Employee
                            <p-sortIcon field="employee"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdAt">Created At
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="deletedAt">Deleted At
                            <p-sortIcon field="deletedAt"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-account pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="account"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{account.accountId}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{account.type}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Balance</span>
                            {{account.balance}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Customer</span>
                            {{account.customer!.name!}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Branch</span>
                            {{account.branch!.address!}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Employee</span>
                            {{account.employee!.name!}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Created At</span>
                            {{account.createdAt | date}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Deleted At</span>
                            {{account.deletedAt | date}}
                        </td>
                        <td>
                            <div class="flex" *ngIf="!account.isDeleted">
                                <button (click)="editAccount(account)" class="p-button-rounded p-button-success mr-2"
                                        icon="pi pi-pencil"
                                        pButton
                                        pRipple></button>
                                <button (click)="deleteAccount(account)" class="p-button-rounded p-button-warning"
                                        icon="pi pi-trash" pButton
                                        pRipple></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="accountDialog"
                  [modal]="true"
                  [style]="{width: '450px'}"
                  class="p-fluid"
                  header="Account Details">
            <ng-template pTemplate="content">

                <div class="field">
                    <label>Type</label>
                    <p-dropdown
                        [(ngModel)]="account.type"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !account.type}"
                        [options]="accountTypes"
                        inputId="accountType"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !account.type" class="ng-dirty ng-invalid">Type is required.</small>
                </div>

                <div class="field">
                    <label for="balance">Balance</label>
                    <p-inputNumber
                        [(ngModel)]="account.balance"
                        [disabled]="isEdit"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !account.balance}"
                        currency="EGP"
                        id="balance"
                        locale="en-US" mode="currency">
                    </p-inputNumber>
                    <small *ngIf="submitted && !account.balance" class="ng-dirty ng-invalid">Balance is
                        required.</small>
                </div>

                <div class="field">
                    <label>Customer</label>
                    <p-dropdown
                        [(ngModel)]="account.customer"
                        [disabled]="isEdit"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !account.customer?.customerId}"
                        [options]="customers"
                        inputId="customer"
                        optionLabel="name"
                        optionDisabled="isDeleted"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !account.customer?.customerId" class="ng-dirty ng-invalid">Customer is
                        required.</small>
                </div>

                <div class="field">
                    <label>Branch</label>
                    <p-dropdown
                        [(ngModel)]="account.branch"
                        [disabled]="isEdit"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !account.branch?.branchId}"
                        [options]="branches"
                        inputId="branch"
                        optionLabel="address"
                        optionDisabled="isDeleted"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !account.branch?.branchId" class="ng-dirty ng-invalid">Branch is
                        required.</small>
                </div>

                <div class="field">
                    <label>Employee</label>
                    <p-dropdown
                        [(ngModel)]="account.employee"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !account.employee?.employeeId}"
                        [options]="filterEmployees(account.branch!)"
                        inputId="employee"
                        optionLabel="name"
                        optionDisabled="isDeleted"
                        placeholder="Select">
                    </p-dropdown>
                    <small *ngIf="submitted && !account.employee?.employeeId" class="ng-dirty ng-invalid">Employee is
                        required.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                        pRipple></button>
                <button (click)="saveAccount()" class="p-button-text" icon="pi pi-check" label="Save" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAccountDialog" [modal]="true" [style]="{width:'450px'}" header="Confirm">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="account">Are you sure you want to delete <b>{{account.accountId}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="deleteAccountDialog = false" class="p-button-text" icon="pi pi-times" label="No"
                        pButton
                        pRipple></button>
                <button (click)="confirmDelete()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAccountsDialog" [modal]="true" [style]="{width:'450px'}" header="Confirm">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected accounts?</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="deleteAccountsDialog = false" class="p-button-text" icon="pi pi-times" label="No"
                        pButton
                        pRipple></button>
                <button (click)="confirmDeleteSelected()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
