<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="openNew()"
                            class="p-button-success mr-2"
                            icon="pi pi-plus"
                            label="New"
                            pButton
                            pRipple>
                        </button>
                        <button
                            (click)="deleteSelectedEmployees()"
                            [disabled]="!selectedEmployees || !selectedEmployees.length"
                            class="p-button-danger mr-2"
                            icon="pi pi-trash"
                            label="Delete"
                            pButton
                            pRipple>
                        </button>
                        <button
                            (click)="dt.exportCSV()" class="p-button-help" icon="pi pi-upload" label="Export"
                            pButton
                            pRipple>
                        </button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [(selection)]="selectedEmployees"
                [columns]="cols"
                [globalFilterFields]="['name','email','bank.name','branch.address']"
                [paginator]="true"
                [rowHover]="true"
                [rowsPerPageOptions]="[10,20,30]"
                [rows]="10"
                [rows]="10"
                [showCurrentPageReport]="true"
                [value]="employees"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
                responsiveLayout="scroll" selectionMode="multiple">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Employees</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="onGlobalFilter(dt, $event)" class="w-full sm:w-auto" pInputText
                                   placeholder="Search..."
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="salary">Salary
                            <p-sortIcon field="salary"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email">Email
                            <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="bank.name">Bank
                            <p-sortIcon field="bank"></p-sortIcon>
                        </th>
                        <th pSortableColumn="branch.address">Branch
                            <p-sortIcon field="branch"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-employee pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="employee"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{employee.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{employee.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Salary</span>
                            {{employee.salary}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{employee.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Bank</span>
                            {{employee.branch.bank.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Branch</span>
                            {{employee.branch.address}}
                        </td>
                        <td>

                            <div class="flex">
                                <button (click)="editEmployee(employee)" class="p-button-rounded p-button-success mr-2"
                                        icon="pi pi-pencil"
                                        pButton
                                        pRipple></button>
                                <button (click)="deleteEmployee(employee)" class="p-button-rounded p-button-warning"
                                        icon="pi pi-trash" pButton
                                        pRipple></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="employeeDialog"
                  [modal]="true"
                  [style]="{width: '450px'}"
                  class="p-fluid"
                  header="Employee Details">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Name</label>
                    <input
                        [(ngModel)]="employee.name"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !employee.name}"
                        autofocus id="name"
                        pInputText
                        required
                        type="text"/>
                    <small *ngIf="submitted && !employee.name" class="ng-dirty ng-invalid">Employee Name is
                        required.</small>
                </div>

                <div class="field">
                    <label for="salary">Salary</label>
                    <p-inputNumber
                        [(ngModel)]="employee.salary"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !employee.salary}" currency="EGP"
                        id="salary"
                        locale="en-US"
                        mode="currency">
                    </p-inputNumber>
                    <small *ngIf="submitted && !employee.salary" class="ng-dirty ng-invalid">Salary is required.</small>
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input [(ngModel)]="employee.email"
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !employee.email}"
                           autofocus id="email"
                           pInputText
                           required
                           type="email"/>
                    <small *ngIf="submitted && !employee.email" class="ng-dirty ng-invalid">Email is required.</small>
                </div>
                <div class="field">
                    <label for="bank">Bank</label>
                    <input
                        [(ngModel)]="employee.branch!.bank!.name!"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !employee.branch!.bank!.name}"
                        autofocus disabled id="bank" pInputText
                        required
                        type="text"/>
                    <small *ngIf="submitted && !employee.branch!.bank!.name" class="ng-dirty ng-invalid">Bank is required.</small>
                </div>

                <div class="field">
                    <label>Branch</label>
                    <p-dropdown
                        [(ngModel)]="employee.branch"
                        [options]="branches"
                        inputId="branch"
                        optionLabel="address"
                        placeholder="Select"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !employee.branch?.address}">
                    </p-dropdown>
                </div>
                <small *ngIf="submitted && !employee.branch?.address" class="ng-dirty ng-invalid">Branch is required.</small>
            </ng-template>

            <ng-template pTemplate="footer">
                <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                        pRipple></button>
                <button (click)="saveEmployee()" class="p-button-text" icon="pi pi-check" label="Save" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmployeeDialog" [modal]="true" [style]="{width:'450px'}" header="Confirm">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="employee">Are you sure you want to delete <b>{{employee.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="deleteEmployeeDialog = false" class="p-button-text" icon="pi pi-times" label="No"
                        pButton
                        pRipple></button>
                <button (click)="confirmDelete()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmployeesDialog" [modal]="true" [style]="{width:'450px'}" header="Confirm">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected employees?</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="deleteEmployeesDialog = false" class="p-button-text" icon="pi pi-times" label="No"
                        pButton
                        pRipple></button>
                <button (click)="confirmDeleteSelected()" class="p-button-text" icon="pi pi-check" label="Yes" pButton
                        pRipple></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
